{% load static %}
<!DOCTYPE html>
<html>
<style>
    .texto_1 {color:rgb(28, 128, 66);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 55px;
    text-shadow: 2px 2px rgba(49, 29, 11, 0.733);}

    .logo_form { width: 100px
        ;}

    body { background-color: rgb(161, 224, 118);}


</style>
<head>
    <title>Casa Verde - Home</title>
</head>
<body>

    <img class="logo_form" src="logo_form1.svg" alt="logo">


    <h1 class="texto_1">Bienvenido {{ request.user.username }} 🌿</h1>

    <p>Selecciona a dónde quieres ir:</p>

    <nav>
        <ul>
            <li><a href="/usuarios/">Gestión de usuarios</a></li>
            <li><a href="/materiales/">Gestión de materiales</a></li>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
    </nav>
</body>
</html>
